<html>
    <head>
            <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Tangerine:400,700" rel="stylesheet"> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>

        
        <div class="mt-4" style="margin: auto; width:800px;height:600px; padding:20px; text-align:center;background-color:#E6E6FA;border: 10px solid #787878">
            <div style="width:750px; height:550px; padding:20px; text-align:center; border: 5px solid #787878">
            
                    <img align="left" src="/img/iitmadras.png" widht=100px height=100px>
                    <span style="font-size:30px; font-weight:bold"><i>Indian Institute of Technology</i></span>
                    <img align="right" src="/img/Photo from kondepuvamsi.jpg" widht=80px height=80px>
                    <br><br> 
                    <span style="font-size:25px; font-weight:bold"><i>Certificate of Completion</i></span>
                    <br><br>
                    <span style="font-size:25px"><i>This is to certify that</i></span>
                    <br><br>
                    <span style="font-size:30px"><b><%= cert.name %></b></span><br/><br/>
                    <span style="font-size:25px"><i>has completed the course</i></span> <br/><br/>
                    <span style="font-size:30px;font-weight:bold"><%= cert.course %></span> <br/><br/>
                    <span style="font-size:20px">with score of <b><%= cert.score %></b></span> <br/><br/><br/><br/>
                    
            
            </div>
        </div>

    </body>
</html>
